@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

:root {
  --color-white-1: #FCFCFC;
  --color-white-2: #F3F3F3;
  --color-white-3: #cacaca;
  --color-blue: #0FA3B1;
  --color-orange: #FF9B42;
  --color-black-1: #212129;
  --color-black-2: #313139;
  --color-black-3: #8b8b8b;
  --color-negative: #dd2424;
}

:root {
  --background: var(--color-white-1);
  --foreground: var(--color-black-1);
}

@theme {
  --font-lato: "Lato", sans-serif;
  --color-first-bg: var(--color-white-1);
  --color-second-bg: var(--color-white-2);
  --color-line: var(--color-white-3);
  --color-text: var(--color-black-2);
  --color-subtext: var(--color-black-3);
  --color-negative: var(--color-negative);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black-1);
    --foreground: var(--color-white-1);
  }
  @theme {
    --color-first-bg: var(--color-black-1);
    --color-second-bg: var(--color-black-2);
    --color-line: var(--color-black-3);
    --color-text: var(--color-white-2);
    --color-subtext: var(--color-white-3);
    --color-negative: var(--color-negative);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: var(--color-text);
}
