services:
  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: http://backend:8000
    restart: unless-stopped
    working_dir: /app
    ports:
      - "48521:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    restart: unless-stopped
    working_dir: /app
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    restart: unless-stopped
