services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
        NEXT_PUBLIC_API_URL: http://backend:8000

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    volumes:
      - ./backend/backups:/app/backups

  mongo:
    volumes:
      - /var/lib/budgeter/mongo:/data/db
