services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod

  mongo:
    volumes:
      - /var/lib/budgeter/mongo:/data/db
